* {
    font-family: "Pretendard", Helvetica, sans-serif;
}

body {
    touch-action: pan-y, pan-x;
}

/* layout */
.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

/* button */
.button {
    width: 100%;
    border: none;
    padding: 15px 25px;
    border-radius: 15px;
    color: #005aeb;
    font-size: 16px;
    text-decoration: none;
    background: hsl(217, 100%, 90%);
    transition: all 0.25s ease;
}

.button.active {
    color: #fff;
    background: #0062ff;
}

.button:hover {
    background: #b8d3ff;
    transform: scale(0.95);
}

.button.active:hover {
    background: #005aeb;
}

.button-text {
    color: #0062ff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.25s ease;
}

.button-text:hover {
    color: #0052d6;
    transform: scale(0.95);
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button-box .button:first-child {
    margin-right: 5px;
}

.button-box .button:last-child {
    margin-left: 5px;
}

.button-box.bottom {
    position: fixed;
    width: calc(100% - 20px);
    max-width: 430px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

/* card */
.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 30px;
    border-radius: 15px;
    background: #f7f7f7;
    transition: all 0.25s ease;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card .title {
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    font-weight: 600;
}

/* checkbox */
.checkbox {
}

/* input */
.input {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #c8c8c8;
    border-radius: 0px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    background: none;
    transition: all 0.25s ease;
}

.input:hover {
    border-bottom: 2px solid #0062ff;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #0062ff;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: #757575;
    font-size: inherit;
    cursor: text;
    transition: all 0.25s ease;
    font-weight: 500;
}

.input:focus + .placeholder {
    color: #0062ff;
    top: -8px;
    font-size: 12px;
    font-weight: 300;
}

.input:valid + .placeholder {
    color: #757575;
    font-size: 12px;
    top: -8px;
    font-weight: 300;
}

.input.invalid {
    border-bottom: 2px solid #ff0000;
}

.input-box {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

/* textarea */
.textarea {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #c8c8c8;
    border-radius: 0px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    background: none;
    transition: all 0.25s ease;
    resize: none;
    overflow: hidden;
}

.textarea:hover {
    border-bottom: 2px solid #0062ff;
}

.textarea:focus {
    outline: none;
    border-bottom: 2px solid #0062ff;
}

.textarea:valid + .placeholder {
    color: #757575;
    font-size: 12px;
    top: -8px;
    font-weight: 300;
}

.textarea.invalid {
    border-bottom: 2px solid #ff0000;
}

/* modal */
.modal-box {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s;
}

.modal-box.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.modal {
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    transition: transform 0.25s;
    transform: translateY(-30px);
}

.modal-box.active .modal {
    transition: transform 0.25s;
    transform: none;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header .title {
    font-size: 1.17em;
    font-weight: bold;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-box input {
    flex: 1;
    margin-right: 10px;
}

/* table */

.table {
    width: 100%;
    table-layout: fixed;
}

.table td {
    text-align: center;
}

/* text */

.emoji {
    font-family: "TossFaceFontMac";
    font-size: 30px;
}

.link {
    color: #0062ff;
    text-decoration: none;
}

/* fontface */

@font-face {
    font-family: "TossFaceFontMac";
    src: url("../fonts/TossFaceFontMac.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* icons */

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    background: center no-repeat;
    background-size: cover;
}
